<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="TomatoEngine.Properties.Settings.DatabaseConnectionString"
   connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="TomatoEngine.Properties.Settings.ScoreDBConnectionString"
   connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MasterMindGame\ScoreDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup/></configuration>
